<html>
    <head>
        <title>Titanic Prediction</title>
            <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    </head>
    <body>
        <h1>Titanic Survival Prediction</h1>
        <p>Please fill in the values below to classify whether you would have survived the Titanic</p>
        <form action="/result" method='POST'>
            <label id='one'>Passenger Class</label>
            <input type="text" name='Pclass'>
            <br>
            <label id='two'>Age of passenger</label>
            <input type="text" name='Age'>
            <br>
            <label id='three'>Total number of siblings/spouse</label>
            <input type="text" name='SibSp'>
            <br>
            <label id='four'>Total number of parents and children</label>
            <input type="text" name='Parch'>
            <br>
            <label id='five'>Price of ticket paid by passenger</label>
            <input type="text" name='Fare'>
            <br>
            <label id='six'>Sex (0-female,1-male)</label>
            <input type="text" name='male'>
            <h3 id='line'>For the following questions, answer 1 if TRUE, 0 if FALSE.</h3>
            <label id='seven'>Embarked at Queenstown</label>
            <input type="text" name='Q'>
            <br>
            <label id='eight'>Embarked at Southhampton</label>
            <input type="text" name='S'>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>